#starta{
    background-image:url("../images/background/h_img.jpg");
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
    height:100vh;
 }
  #logo{
    padding-top: 190px;
  }
  #mouse{
      margin-top: 150px;
  }
  .me{text-align: center;
      padding-top:50px;
    }
    #service{
      background-image:url("../images/background/s_image.jpg");
      background-size: cover;
      height: 50vh;
      text-align: center;
      color:white;
      padding-top:80px;  
   } 
